{deps, [
    grisp,
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},

    {recon, {git, "https://github.com/ferd/recon.git", {branch, "master"}}},


    {lasp, {git, "https://github.com/lasp-lang/lasp.git", {branch, "master"}}},

    partisan,
    % {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}}
    {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
    % see issue : https://github.com/elixir-lang/elixir/issues/7825
    % {flow, {elixir, "flow", "0.14.1"}},
    {flow, {elixir, flow, "0.14.2"}},
    {gen_stage, {elixir, gen_stage, "0.14.0"}},
    {numerix, {elixir, numerix, "0.5.1"}}
]}.

{erl_opts, [
    {parse_transform, lager_transform},
    debug_info,
    nowarn_unused_vars
    % {i, "elixir_libs/computedge/deps/numerix/lib/"},
]}.

{plugins, [
    % {erl_tidy_prv_fmt, ".*", {git, "git://github.com/tsloughter/erl_tidy.git", {branch, "master"}}},
    % {rebar3_elixir_compile, ".*", {git, "https://github.com/barrel-db/rebar3_elixir_compile.git", {branch, "master"}}}
    {rebar3_elixir_compile, ".*", {git, "https://github.com/GrispLasp/rebar3_elixir_compile.git", {branch, "master"}}}
]}.
%
% {provider_hooks, [
%   {pre, [{compile, {ex, compile}}]},
%   {pre, [{release, {ex, compile}}]}
% ]}.
%





% See commit below for Elixir warning origin :
% https://github.com/elixir-lang/elixir/blob/f07f955659707e2b2a06e218d2cd2cbf94d9ff13/lib/elixir/lib/code/formatter.ex#L209

{grisp, [
    {otp, [
        {version, "21.0"}
    ]},
    {toolchain, [
      {root, "/home/laymer/NewGRiSP/grisp-software/rtems-install/rtems/5"}
      % {root, "/Users/oxynad/Documents/thesis/newGRiSP/grisp-software/rtems-install/rtems/5"}
      % {root, "/home/laymer/EdgeComputing/NewGRiSP/grisp-software/rtems-install/rtems/5"}
      % {root, "/media/alex/external1/grisp/grisp-software/rtems-install/rtems/5"}
    ]},
    {build, [
        {toolchain, [
          {directory,"/home/laymer/NewGRiSP/grisp-software/rtems-install/rtems/5"}]}
          % {directory,"/home/laymer/EdgeComputing/NewGRiSP/grisp-software/rtems-install/rtems/5"}]} % Igor
          % {directory,"/Users/oxynad/Documents/thesis/newGRiSP/grisp-software/rtems-install/rtems/5"}]} % Dan
          % {directory,"/media/alex/external1/grisp/grisp-software/rtems-install/rtems/5"}]}
          % {directory,"/home/laymer/EdgeComputing/NewGRiSP/grisp-software/rtems-install/rtems/5"}]}
    ]},
    {deploy, [
        {pre_script, "rm -rf /media/laymer/GRISP/*"}, % Igor
        {destination, "/media/laymer/GRISP"}, % Igor
        {post_script, "umount /media/laymer/GRISP"} % Igor
        % #{relname => "node", relvsn => "0.1.0"}
        % {relname, "node"},
        % {relvsn, "0.1.0"},
        % {force, true}
        % {pre_script, "rm -rf /Volumes/GRISP/*"}, % Dan
        % {destination, "/Volumes/GRISP"}, % Dan
        % {post_script, "diskutil unmount /Volumes/GRISP"} % Dan
    ]},
    {provider_hooks, [
        {pre, [{release, {ex, compile}}]}
    ]}
]}.

% {shell, [
%     {apps, []}
% ]}.
{shell, [{apps, []},
        {config, "config/sys.config"}]}.

% Wrapping a keyword in quotes does not make it a string.
% Keywords are always atoms and quotes should only be
% used to handle foreign characters.
% In fact, if you attempt use quotes when not necessary, Elixir will warn.
% see :
% https://hexdocs.pm/elixir/master/Keyword.html
{elixir_opts,
  [
    % {all_warnings, false},
    {env, dev}
  ]
}.

{relx, [
    {release, {node , "0.1.0"}, [
        sasl,
        runtime_tools,
        {recon, load},
        {epmd, none},
        {lasp, load},
        {flow, load},
        {gen_stage, load},
        {numerix, load},
        node
    ]},
    {sys_config, "config/sys.config"},
    {extended_start_script, true}
]}.

{profiles, [
    {test, [
        {deps, [
            {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
            {recon, {git, "https://github.com/ferd/recon.git", {branch, "master"}}},
            {lasp, {git, "https://github.com/lasp-lang/lasp.git", {branch, "master"}}},
            partisan,
            {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
            {flow, {elixir, "flow", "0.14.2"}},
            {gen_stage, {elixir, "gen_stage", "0.14.0"}},
            {numerix, {elixir, "numerix", "0.5.1"}}
        ]},
        {shell, [{apps, [node]},
                {config, "config/test.config"}]},
        {relx, [
            {release, {node , "0.1.0"}, [
                sasl,
                runtime_tools,
                {epmd, none},
                {lasp, load},
                node
            ]},
            {dev_mode, true},
            {include_erts, false},
            {sys_config, "config/test.config"},
            {extended_start_script, true}
        ]},
        {provider_hooks, [
          {pre, [{compile, {ex, compile}}]}
        ]}
    ]}
]}.


% {fmt_opts, [
%   {auto_list_comp, false},
%   {keep_unused, true}
% ]}.
