{deps, [
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
    {lasp, {git, "https://github.com/lasp-lang/lasp.git", {branch, "master"}}},
    partisan,
    % {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
    {recon, {git, "https://github.com/ferd/recon.git", {branch, "master"}}},
    {flow, {elixir, "flow", "0.14.2"}},
    {gen_stage, {elixir, "gen_stage", "0.14.0"}},
    {numerix, {elixir, "numerix", "0.5.1"}}
]}.

{plugins, [
    {rebar3_elixir_compile, ".*", {git, "https://github.com/GrispLasp/rebar3_elixir_compile.git", {branch, "master"}}}
]}.

{provider_hooks, [
    {pre, [{compile, {ex, compile}}]}
]}.

{erl_opts, [
    debug_info,
    verbose
    % {parse_transform, lager_transform}
]}.

{grisp, [
    {otp, [
        {version, "21.0"}
    ]},
    {toolchain, [
      % {root, "/Users/Laymer/GRiSP/grisp-software/rtems-install/rtems/5"}
      {root, "/home/laymer/NewGRiSP/grisp-software/rtems-install/rtems/5"}
    ]},
    {build, [
        {toolchain, [
          % {directory,"/Users/Laymer/GRiSP/grisp-software/rtems-install/rtems/5"}]}
          {directory,"/home/laymer/NewGRiSP/grisp-software/rtems-install/rtems/5"}]}
    ]},
    {deploy, [
        % {pre_script, "rm -rf /Volumes/GRISP/*"}, % Dan
        % {destination, "/Volumes/GRISP"}, % Dan
        % {post_script, "diskutil unmount /Volumes/GRISP"} % Dan
        {pre_script, "rm -rf /media/laymer/GRISP/*"}, % Dan
        {destination, "/media/laymer/GRISP"}, % Dan
        {post_script, "umount /media/laymer/GRISP"} % Dan
    ]}
]}.


{shell, [{apps, []},
        {config, "config/test.config"}]}.

{elixir_opts,
  [
    {env, dev}
  ]
}.


{relx, [
    {release, {node , "0.1.0"}, [
        sasl,
        runtime_tools,
        % {recon, load},
        {epmd, none},
        {lasp, load},
        % {flow, load},
        % {gen_stage, load},
        % {numerix, load},
        node
    ]},
    {sys_config, "config/test.config"},
    {extended_start_script, true}
]}.

{profiles, [
%% ===================================================================
%% USE FOR DEBUGGING DEPLOYED APPS ON BOARDS
%% ===================================================================
%% e.g. : rebar3 as deployg grisp deploy -n node -v 1.0.0
%% ===================================================================
      {deployg, [
        {deps, [
            grisp
        ]},
        {provider_hooks, [
            {pre, [{release, {ex, compile}}]}
        ]},
        {erl_opts, [
            debug_info,
            {parse_transform, lager_transform}
        ]},
        {grisp, [
            {otp, [
                {version, "21.0"}
            ]},
            {toolchain, [
              % {root, "/Users/Laymer/GRiSP/grisp-software/rtems-install/rtems/5"}
              {root, "/home/laymer/NewGRiSP/grisp-software/rtems-install/rtems/5"}
            ]},
            {build, [
                {toolchain, [
                  % {directory,"/Users/Laymer/GRiSP/grisp-software/rtems-install/rtems/5"}]}
                  {directory,"/home/laymer/NewGRiSP/grisp-software/rtems-install/rtems/5"}]}
            ]},
            {deploy, [
                % {pre_script, "rm -rf /Volumes/GRISP/*"}, % Dan
                % {destination, "/Volumes/GRISP"}, % Dan
                % {post_script, "diskutil unmount /Volumes/GRISP"} % Dan
                {pre_script, "rm -rf /media/laymer/GRISP/*"}, % Dan
                {destination, "/media/laymer/GRISP"}, % Dan
                {post_script, "umount /media/laymer/GRISP"} % Dan
            ]}
        ]},
        {shell, [{apps, []},
                {config, "config/sys.config"}]},
        {relx, [
            % {dev_mode, false},
            % {include_erts, true},
            {release, {node , "0.1.0"}, [
                sasl,
                runtime_tools,
                {recon, load},
                {epmd, none},
                {lasp, load},
                {flow, load},
                {gen_stage, load},
                {numerix, load},
                node
            ]},
            {sys_config, "config/sys.config"},
            {extended_start_script, true}
        ]}
      ]},
%% ===================================================================
%% ONLY USE PROD FOR TESTED PRODUCTION RELEASES
%% ===================================================================
%% e.g. : rebar3 as prod grisp deploy -n node -v 1.0.0
%% ===================================================================
      {prod, [
        {deps, [
            grisp
        ]},
        {provider_hooks, [
            {pre, [{release, {ex, compile}}]}
        ]},
        {erl_opts, [
            % ONLY FOR REAL PROD ENVIRONMENT
            % UNSUITABLE FOR TESTING DEPLOYMENTS ON GRISP
            no_debug_info,
            warnings_as_errors
        ]},
        {grisp, [
            {otp, [
                {version, "21.0"}
            ]},
            {toolchain, [
              {root, "/Users/Laymer/GRiSP/grisp-software/rtems-install/rtems/5"}
            ]},
            {build, [
                {toolchain, [
                  {directory,"/Users/Laymer/GRiSP/grisp-software/rtems-install/rtems/5"}]}
            ]},
            {deploy, [
                {pre_script, "rm -rdf /Volumes/GRISP/*"}, % Dan
                {destination, "/Volumes/GRISP"}, % Dan
                {post_script, "diskutil unmount /Volumes/GRISP"} % Dan
            ]}
        ]},
        {shell, [{apps, []},
                {config, "config/prod.config"}]},
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {release, {node , "0.1.0"}, [
                sasl,
                runtime_tools,
                {recon, load},
                {epmd, none},
                {lasp, load},
                {flow, load},
                {gen_stage, load},
                {numerix, load},
                node
            ]},
            {sys_config, "config/prod.config"},
            {extended_start_script, true}
        ]}
      ]},

%% ===================================================================
%% REGULAR TEST PROFILE
%% ===================================================================

      {test, [
        {erl_opts, [
            debug_info,
            no_warn_unused_vars
        ]},
        {shell, [{apps, []},
                {config, "config/test.config"}]},
        {relx, [
          {dev_mode, true},
          {include_erts, false},
          {release, {node , "0.1.0"}, [
              sasl,
              runtime_tools,
              {recon, load},
              {epmd, none},
              {lasp, load},
              {flow, load},
              {gen_stage, load},
              {numerix, load},
              node
            ]},
            {sys_config, "config/test.config"},
            {extended_start_script, true}
        ]}
      ]},


%% ===================================================================
%% INTENDED FOR CPU INTENSIVE DEPLOYMENTS
%% ===================================================================
      {native, [
          {erl_opts, [{native, o3}]}
      ]}
]}.

% {profiles, [
%
%     {test, [
%     ]},
%
%     {prod [
%     ]}
%
% ]}.


% {fmt_opts, [
%   {auto_list_comp, false},
%   {keep_unused, true}
% ]}.
